# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "5151798373:AAE4H4-lwNJR9DqLA6PBpXIagzCUXaxErss"
GDRIVE_FOLDER_ID = "0AIh0sWbkA3unUk9PVA"
OWNER_ID = "1623336188"
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
TELEGRAM_API = "8514235"
TELEGRAM_HASH = "54e79ba9273e39fbf3ddfaa634bf2f66"
USE_SERVICE_ACCOUNTS = ""

# Optional config
ACCOUNTS_ZIP_URL = "" #Enter Direct Links TO Import Service Accounts Directly From Urls Instead Of Adding Files To Repo.( Archive the accounts folder to a zip file.)
TOKEN_PICKLE_URL = "https://freemium.tk/0:/token.pickle" #Enter Direct Links TO Import Credentials Directly From Urls Instead Of Adding Files To Repo.
SESSION_STRING = ""
AUTHORIZED_CHATS = "" #Separated by space
SUDO_USERS = ""  #Separated by space
LOGS_CHATS = "" #Separated by space
DATABASE_URL = ""
IGNORE_PENDING_REQUESTS = ""
INDEX_URL = "https://freemium.tk/0:"
MEGA_KEY = ""
MEGA_USERNAME = ""
MEGA_PASSWORD = ""
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""
STOP_DUPLICATE_CLONE = "True"
CLONE_LIMIT = ""
TG_SPLIT_SIZE = "" # leave it empty for max size(2GB)
AS_DOCUMENT = ""
CUSTOM_FILENAME = ""
RECURSIVE_SEARCH = "" #T/F And Fill drive_folder File Using Driveid.py Script.
UPTOBOX_TOKEN = "" 
# Upstream
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# View Link button to open file Index Link in browser instead of direct download link
# You can figure out if it's compatible with your Index code or not, open any video from you Index and check if its URL ends with ?a=view, if yes make it True it will work (Compatible with Bhadoo Drive Index)
VIEW_LINK = "True"
# GDTOT COOKIES
CRYPT = "VlRiUFRRcFVYSVNHMGZWek5ydUZhSWZPSUwyNXdvSnJURTNDT3dPS1VGTT0%3D"
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
